body {
    font-size: 14px
}

.form-select {
    font-size: 14px;
}

nav {
    margin-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
}

nav img {
    margin-right: 10px;
    margin-left: 30px;
}

.radio-group {
   font-size: 14px;
}

.nav-link {
  cursor: pointer;
}

.hidden {
  display: none;
}

#datatable-outerlite {
  margin-top: 20px;
}

td:has(~ .dash-cell.cell--selected.focused), .dash-cell.cell--selected.focused ~ td {
  background-color: #A86561 !important; 
}